* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth
}
/* Main Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/* Item Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* Footer Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
:root {
  --white: white;
  --dark-gray: #3a3a3a;
  --medium-blue: #18191f;
  --davys-grey: #787885;
  --hawkes-blue: #d9dbe1;
  --other-font: "Inter", sans-serif;
  --main-font: "Poppins", sans-serif;
  --footer-font: "Manrope", sans-serif;
  --transform: 0.6s all linear;
}
#nav-toggler{
  display: none;
}
.nav-toggler-icon{
  display: none;
  color: var(--dark-gray);
  font-size: 30px;
}
.nav-toggler-icon i{
  color: black;
}
body {
  border: 1px solid #000;
}
.pb-40 {
  padding-bottom: 40px;
}
a {
  text-decoration: none;
}
h1 {
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--dark-gray);
  font-size: calc(50px + 1vmin);
}
h4,
h4 {
  color: var(--dark-gray);
  text-align: center;
  font-size: calc(26.9673px + 1vmin); /* font-size: 28px; */
  font-family: var(--main-font);
  font-weight: 600;
  text-transform: capitalize;
}
span {
  font-family: var(--other-font) !important;
  font-weight: 400;
  font-size: calc(22.9673px + 1vmin); /* font-size: 24px; */
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 0 8px 0;
  display: block;
}
main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap: 20px 0;
  margin: auto;
  max-width: 1200px;
}
header {
  padding: 10px 0 0 20px;
  display: grid;
  grid-template-columns: calc(100% - 70%) calc(100% - 40%) calc(100% - 95%);
}
.brand-logo a {
  text-transform: capitalize;
  color: var(--dark-gray);
  padding-top: 10px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}
nav{
  display: flex;
  justify-content: end;
  align-items: center !important;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
nav ul li a {
  padding: 10px 15px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--dark-gray);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.fa-cart-plus {
  padding-top: 12px;
  color: var(--dark-gray);
}
#banner {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  margin: 20px 0;
}
.banner-left {
  padding-left: 20px;
}
.banner-left p {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  padding: 16px 300px 16px 0;
  line-height: 24px;
}
.btn a {
  text-transform: capitalize;
  background-color: #e02c6d;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
  padding: 10px 20px;
  transition: var(--transform);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: var(--transform);
  -moz-transition: var(--transform);
  -ms-transition: var(--transform);
  -o-transition: var(--transform);
}
.btn a:hover {
  border: 1px solid #e02c6d;
  background-color: var(--white);
  color: #e02c6d;
}
.btn i {
  transition: var(--transform);
  font-size: 14.5px;
  color: var(--white);
  -webkit-transition: var(--transform);
  -moz-transition: var(--transform);
  -ms-transition: var(--transform);
  -o-transition: var(--transform);
}
.btn a:hover i {
  color: #e02c6d;
}
.banner-right {
  position: relative;
}
.banner-right img:nth-child(1) {
  width: 100%;
  height: auto;
}
.banner-right img:nth-child(2) {
  width: 90%;
  z-index: 1;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#products {
  display: flex;
  flex-direction: column;
}
#products .btn{
  align-self: flex-end;
  margin: 20px 0 20px auto;
}
.item-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 30px 30px;
}
.single-item {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.single-item img {
  width: 100%;
  display: block;
  margin: auto;
}

.single-item h4 {
  padding-top: 16px;
  text-align: left;
}
/* .sinlge-item-content {
  padding-left: 20px;
} */
.single-item p {
  font-family: var(--other-font);
  font-weight: 700;
  font-size: calc(10.9673px + 1vmin);
  letter-spacing: 2px;
  line-height: 23px;
  color: var(--davys-grey);
}
.star {
  font-size: calc(10.9673px + 1vmin);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  color: #5e6366;
}
.star i {
  font-size: calc(10.9673px + 0.3vmin);
  padding: 0 4px 0 0;
  color: #fb8200;
}
.star i:last-child {
  padding-right: 8px;
}
#support h1{
  text-transform: capitalize;
  margin: 30px 0;
}
#support .star{
  justify-content: center;
}
#support i{
  font-size: calc(20px + 5vmin);
  color: var(--medium-blue);
}
#support .single-item{
  text-align: center;
  padding: 60px 30px;
}
#support h3{
  padding: 10px 0;
  color: var(--dark-gray);
  font-family: var(--main-font);
  font-weight: 600;
}
#support p{
  font-size: calc(10px + 1vmin) !important;
  /* color: red; */
  font-weight: 400;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 239px;
  background-color: #0a0826;
}
footer p:nth-child(1) {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
}
footer p:nth-child(2),
footer p:nth-child(3) {
  font-family: var(--footer-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--hawkes-blue);
}
footer p:nth-child(3) {
  color: var(--davys-grey);
}
.social-icon a {
  background-color: rgba(255, 255, 255, 0.116);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  color: var(--white);
  margin-right: 5px;
  font-size: calc(12px + 1vmin);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
